.pantry-details-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

.staff-info {
  margin-bottom: 20px;
}

.staff-info p {
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d3d3d3;
}

.remove-btn {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.remove-btn:hover {
  background-color: #e53935; 
}

.meal-selection-container {
  margin-top: 20px;
}

.meal-select {
  margin-bottom: 15px;
}

.meal-select label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.meal-select select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.meal-instruction {
  margin-top: 20px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.assign-btn {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
}

.assign-btn:hover {
  background-color: #45a049;
}

.assigned-tasks {
  margin-top: 30px;
}

.assigned-tasks h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.assigned-tasks ul {
  list-style-type: none;
  padding: 0;
}

.assigned-tasks li {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.assignedtaskscard{
  width: 300px;
  margin: 10px 5px;
}
