*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #37b5ff;
    --secondary-color: #7fd858;
    --border: 1px solid #000;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.1px;
}

.patient-details-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .filter-search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px 5px;
    position: sticky;
    top: 0px;
    background-color: #efefef;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  
  .filter-container, .search-container {
    display: flex;
    align-items: center;
  }
  
  .filter-label {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .filter-select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-input {
    padding: 8px;
    width: 300px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .patients-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .patient-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    text-align: center;
    padding: 10px 5px;
  }
  
  .patient-card:hover {
    background-color: #f1f1f1;
  }
  
  .patient-info {
    font-size: 14px;
    color: #333;
  }
  
  .patient-info strong {
    font-weight: bold;
  }
  